<h1>Service Menu</h1>

<div>
  {{#each this.model as |group|}}
    <div>
      <h2>{{group.name}}</h2>


      {{#each group.menuItems as |item|}}
        <div>
          <h3>{{item.name}}</h3>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>